APP_NAME="Laravel Template"
APP_ENV=local
APP_KEY=base64:F+mHMDBbavrsp/I3WYA5lDSwDJJI/0wQG4eM3csq/lo=
APP_DEBUG=true
APP_URL=https://laravel-template-l11.test

NOVA_LICENSE_KEY=

LOG_CHANNEL=stack
LOG_STACK=single,flare
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

FLARE_KEY=

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel-template
DB_USERNAME=root
DB_PASSWORD=

FPH_ENABLED=true
CSP_ENABLED=true

SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=laravel-template-l11.test

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=sync

MAIL_MAILER=log
MAIL_HOST=localhost
MAIL_PORT=2525
MAIL_USERNAME="Template Laravel"
MAIL_PASSWORD=null
MAIL_ENCRYPTION=null

MAIL_FROM_ADDRESS="test@template.com"
MAIL_FROM_NAME="${APP_NAME}"

AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=fra1
AWS_ENDPOINT=https://fra1.digitaloceanspaces.com
AWS_CDN_ENDPOINT=https://srv-dev-space-fra-001.fra1.cdn.digitaloceanspaces.com
AWS_PATH=
AWS_SECRET_ACCESS_KEY=

VITE_APP_NAME="${APP_NAME}"

CLOUDINARY_CLOUD_NAME=my-cloud-name
CLOUDINARY_API_KEY=my-api-key
CLOUDINARY_API_SECRET=my-api-secret

MICROSOFT_CLIENT_ID=your-client-id
MICROSOFT_CLIENT_SECRET=your-client-secret
MICROSOFT_REDIRECT_URI="${APP_URL}/auth/service/microsoft/redirect"
MICROSOFT_TENANT_ID=your-tenant-id
